body {
    font-size: 1.15rem;
    color: #333;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.sidebar {
    height: 100vh;
}

.sidebar li {
    margin-bottom: 5px;
}

.row {
    margin: 0;
}

.navbar {
    background: rgb(179, 237, 244);
}

td {
    padding: 2px !important;
}

.saturday {
    color: blue;
}

.sunday {
    color: red;
}

.footer {
    height: 30px;
}

.table th,
.table td {
    vertical-align: middle;
}

.link-disabled {
    pointer-events: none;
    color: #aaa;
}

@media (min-width: 768px) {
    .header {
        height: 50px;
    }

    .sidebar-list {
        display: none;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .header-search {
        display: none !important;
    }
}
