body {
    font-size: 1.15rem;
}

li {
    list-style: none;
}

.row {
    margin: 0;
}

.header {
    height: 50px;
}

.navbar {
    background: rgb(179, 237, 244);
}

/* .navbar a {
    color: rgb(17, 156, 255);
} */

td {
    padding: 2px !important;
}

.saturday {
    color: blue;
}

.sunday {
    color: red;
}

.footer {
    height: 30px;
}

.table th, .table td {
    vertical-align: middle;
}
